.page {
    min-height: 91.5vh;
}

.title_name {
    color: var(--bodycopy);
    margin: 2rem 0;
}

.select {
    color: var(--accent);
    font-size: 2.2rem;
    font-weight: bold;
    width: 130px;
    line-height: 120%;
    position: relative;
    top: -1px;
    cursor: pointer;
    appearance: none;
}