.page {
    min-height: 100vh;
}

.card {
    background-color: var(--background-header);
    color: var(--bodycopy);
    padding: 2rem 1em;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 10rem;
    border-radius: .2rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    margin-top: .5rem;
    height: 20px;
    padding: 1em;
    border-radius: .2rem;
    font-size: 1.5rem;
    background-color: var(--accent3);
    color: var(--bodycopy);
}

.error {
    border: 2px solid red;
    color: red;
}

.button {
    margin-top: 2rem;
    background-color: var(--accent);
    color: var(--bodycopy);
    font-size: 1.5rem;
    border-radius: .2rem;
    padding: 1rem;
}

.button:hover {
    color: #fff;
    background-color: #25238E;
}