.sidebar {
    background-color: var(--background-header);
    padding: 1rem 2em;
    height: 100vh;
}

.line {
    height: 2px;
    width: 228px;
    background-color: white;
    position: absolute;
    margin-left: -30px;
}

.active {
    background-color: var(--accent);
    border-radius: .2rem;
    padding: 1rem .5em;
    width: 100%;
}

.link {
    padding: 1rem .5em;
    width: 100%;
}

.nav {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
}