/* 
----------------------------------------------------------------
						Colors
----------------------------------------------------------------
*/

:root {
  --background-main: #fff;
  --background-header: #E5989B;
  --accent:  #FFB4A2;
  --accent2: #fff;
  --accent3: #FFCDB2;
  --bodycopy: #795354;
}