/* 
----------------------------------------------------------------
						Colors
----------------------------------------------------------------
*/

:root {
  --background-main: #fff;
  --background-header: #acacac;
  --accent:  #292929;
  --accent2: #fff;
  --accent3: #646464;
  --bodycopy: #ffffff;
}