.page {
    min-height: 91.5vh;
}

.managment {
    color: var(--background-header);
    background-color: var(--bodycopy);
    padding: 2rem 1em;
    margin: 2rem 0;
    border-radius: .2rem;
    font-size: 2rem;
    transition: all 1s;
}

.title_name {
    color: var(--bodycopy);
    margin: 2rem 0;
}

.link {
    width: 100%;
}

.link_row {
    gap: 1em;
}